/* NAVBAR CHANGES */
.navbar {
    background-color: #000;
    position: relative;
}

/* MAIN  */
.main__container {
    background: url(../images/mobile_background.png) no-repeat bottom;
    background-size: 110% 60%;
}

.inner__container {
    width: 70%;
    margin: auto;
    height: 100%;

    /* FLEX */
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}

.mobile {
    height: 75%;
    width: 70%;
    position: absolute;
    top: 10%;
    left: 0px;
}

.main__upper h1 {
    font-size: 3em;
}

.main__upper ul {
    list-style-image: url(../images/bullet.png);
    margin-top: 1em;
    list-style-position: inside;
    font-size: 1.8em;
    font-weight: 500;
}

.main__upper li {
    margin: 0.2em 0;
}

.main__lower {
    /* FLEX */
    flex-direction: column;
    align-items: flex-start;
    width: 21em;
    height: 30%;
}

.main__lower > div {
    width: 100%;
    height: 50%;
}

.main__lower h4 {
    font-weight: 400;
    margin-bottom: 0.5em;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.stores {
    width: 100%;
    height: 50%;
}

.app_store {
    background: url(../images/app_store.png) no-repeat center;
}

.google_play {
    background: url(../images/google_play.png) no-repeat center;
}

.app_store,
.google_play {
    width: 10em;
    height: 100%;
    background-size: cover;
}

/* BLACK BTN OVERRIDE */
.black_btn {
    width: 50%;
    height: 50%;
    background-color: #e13511;
    font-weight: bolder;
}

.black_btn:hover {
    background-color: #bb1f00;
}

@media screen and (min-width: 1800px) {
    .main__container {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1000px) {
    .main__container {
        font-size: 0.8rem;
        height: 90vh;
    }

    .inner__container {
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .mobile {
        display: none;
    }

    .main__lower {
        width: 100%;
    }

    .stores {
        justify-content: center;
    }

    .app_store,
    .google_play {
        width: 12em;
        margin: 0 1em;
    }

    .youtube {
        width: 15em;
        margin: auto;
    }
}
