/* main */
.main {
    /* position: absolute; */
    /* top: 0; */
    width: 100%;
}

/* main hero */
.main__hero {
    background: url(../images/hero_background.png) no-repeat;
    background-size: cover;
    height: 110vh;
    position: relative;
}

.main__hero img {
    display: block;
    position: absolute;

    width: 15%;
    top: 45%;
    right: 42.5%;
    left: 42.5%;

    animation: downsizeDown 2s ease-in-out;
}

@keyframes downsizeDown {
    0% {
        width: 20%;
        top: 15%;
        right: 40%;
        left: 40%;
    }

    20% {
        width: 20%;
        top: 15%;
        right: 40%;
        left: 40%;
    }

    100% {
        width: 15%;
        top: 45%;
        right: 42.5%;
        left: 42.5%;
    }
}

/* main quote */
.main__quote {
    height: 70vh;
    justify-content: center;
    color: #fff;
}

.main__quote div {
    height: 80%;
    width: 30%;
    background-color: #000;
    overflow-y: auto;
    text-align: center;
    padding: 5% 0 10%;

    /* flex */
    flex-direction: column;
    justify-content: center;

    /* scrollbar */
    -ms-overflow-style: none; /*IE and Edge */
    scrollbar-width: none; /*Firefox */
}

.main__quote div::-webkit-scrollbar {
    display: none;
}

.main__quote div p {
    width: 50%;
    line-height: 2;
    font-size: 2rem;
    margin: 0 auto 10em;
}

.main__quote div h2 {
    padding: 1rem 1.5rem;
    border: 3px solid;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

/* Cup slider */
.main__cups {
    height: 30vh;
    width: 100%;
    background-color: #000;
    overflow-x: scroll;
    color: #fff;
    padding: 0 2rem;

    /* scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.main__cups::-webkit-scrollbar {
    display: none;
}

.cup__container {
    box-sizing: content-box;
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    flex-shrink: 0;
}

.cup__background {
    background: url(../images/coffee_cup.png) no-repeat center;
    background-size: cover;
    height: 60%;
    width: 100%;
}

/* PRODUCTS */
.main__products {
    height: 100vh;
    justify-content: center;
}

.main__products .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 50%);
    column-gap: 1em;
    width: 70%;
    height: 90%;
    overflow-y: auto;

    /* scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.product {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.product > *:not(:first-child) {
    padding: 0 5%;
}

.product__background {
    background: url(../images/coffee_glass.png) no-repeat center;
    background-size: cover;
    height: 70%;
    width: 100%;
}

.product__footer {
    width: 100%;
}

.product__add {
    height: 60%;
    width: 6%;
    background-color: black;
    position: relative;
    justify-content: center;
    cursor: pointer;
}

.product__add__btn {
    width: 70%;
    height: 15%;
    border-radius: 20px;
    background-color: #fff;
}

.product__add__btn::after {
    content: '';
    display: block;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
    transform-origin: center;
    transform: rotate(90deg) translateY(25%);
}
