/* main */
.main {
    width: 100%;
}

/* main hero */
.main__hero {
    background: url(../images/hero_background.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.main__hero img {
    display: block;
    position: absolute;

    width: 15%;
    top: 45%;
    right: 42.5%;
    left: 42.5%;

    animation: downsizeDown 2s ease-in-out;
}

@keyframes downsizeDown {
    0% {
        width: 20%;
        top: 15%;
        right: 40%;
        left: 40%;
    }

    20% {
        width: 20%;
        top: 15%;
        right: 40%;
        left: 40%;
    }

    100% {
        width: 15%;
        top: 45%;
        right: 42.5%;
        left: 42.5%;
    }
}

/* main quote */
.main__quote {
    height: 70vh;
    justify-content: center;
    color: #fff;
}

.main__quote div {
    height: 80%;
    width: 30%;
    background-color: #000;
    overflow-y: auto;
    text-align: center;
    padding: 5% 0 10%;

    /* flex */
    flex-direction: column;
    justify-content: center;

    /* scrollbar */
    -ms-overflow-style: none; /*IE and Edge */
    scrollbar-width: none; /*Firefox */
}

.main__quote div::-webkit-scrollbar {
    display: none;
}

.main__quote div p {
    width: 50%;
    line-height: 2;
    font-size: 2rem;
    margin: 0 auto 10em;
}

.main__quote div h2 {
    padding: 1rem 1.5rem;
    border: 3px solid;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}

/* Cup slider */
.main__cups {
    height: 30vh;
    width: 100%;
    background-color: #000;
    overflow-x: scroll;
    color: #fff;
    padding: 0 2rem;

    /* scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.main__cups::-webkit-scrollbar {
    display: none;
}

.cup__container {
    box-sizing: border-box;
    height: 80%;
    /* width: 8%; */
    flex-direction: column;
    justify-content: center;
    margin: 0 1%;
    flex-basis: 8%;
    flex-shrink: 0;
}

.cup__background {
    background: url(../images/coffee_cup.png) no-repeat center;
    background-size: cover;
    height: 60%;
    width: 100%;
    border-radius: 1rem;
}

.cup__container h4 {
    font-weight: normal;
    margin-top: 1rem;
    opacity: 0.6;
    transition: 0.2s ease-out;
}

.cup__container:hover h4 {
    opacity: 1;
    font-weight: bold;
}

/* PRODUCTS */
.main__products {
    height: 100vh;
    justify-content: center;
}

.main__products .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 45%);
    grid-gap: 1em;
    width: 70%;
    height: 90%;
    overflow-y: auto;

    /* scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.main__products .grid::-webkit-scrollbar {
    display: none;
}

.product {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.product > *:not(:last-child) {
    margin-bottom: 0.4rem;
}

.product > h4 {
    margin-right: 3%;
    font-weight: bold;
}

.product > p {
    color: #bbb;
}

.product__background {
    background: url(../images/coffee_glass.png) no-repeat center;
    background-size: cover;
    border-radius: 5%;
    height: 70%;
    width: 100%;
}

.product__footer {
    width: 100%;
}

.product__footer h2 {
    font-weight: lighter;
}

.product__footer i {
    cursor: pointer;
    transition: 0.2s ease-out;
}

.product__footer i:hover {
    color: #bbb;
}

/* .product__add {
    height: 80%;
    width: 10%;
    background-color: black;
    position: relative;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.2rem;
}

.product__add__btn {
    width: 70%;
    height: 10%;
    border-radius: 20px;
    background-color: #fff;
}

.product__add__btn::before {
    content: '';
    display: block;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
    transform-origin: center;
    transform: rotate(90deg) translateY(25%);
} */

@media screen and (max-width: 880px) {
    .main__products .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 45%);
    }

    .cup__container {
        flex-basis: 15%;
    }

    .main__quote div {
        width: 50%;
    }

    .main__hero img {
        display: block;
        position: absolute;

        width: 35%;
        top: 35%;
        right: 32.5%;
        left: 32.5%;

        animation: downsizeDown 2s ease-in-out;
    }

    @keyframes downsizeDown {
        0% {
            width: 40%;
            top: 20%;
            right: 30%;
            left: 30%;
        }

        20% {
            width: 40%;
            top: 20%;
            right: 30%;
            left: 30%;
        }

        100% {
            width: 35%;
            top: 35%;
            right: 32.5%;
            left: 32.5%;
        }
    }
}

@media screen and (min-width: 1800px) {
    .main {
        font-size: 1.2rem;
    }
}
