@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font: 'Tajawal', sans-serif;
    font-weight: 400;
}

/* BASE CSS */
body {
    font-family: var(--font);
    overflow-y: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
