.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;
    padding: 0 1% 0 2%;
    z-index: 100;
    color: #fff;
    text-align: center;
}

.navbar > a {
    display: none;
}

.navbar__links a:not(:first-child) {
    border-bottom: 2px solid transparent;
    padding-bottom: 0.5rem;
}

.navbar__links a:not(:first-child):hover {
    border-bottom-color: #bbb;
    transition: 0.2s ease-out;
}

.navbar__links,
.navbar__user {
    justify-content: flex-start;
}

.navbar__links a {
    margin-left: 1rem;
}

.navbar__links a:first-child {
    margin-left: 2rem;
}

.navbar__links a:last-child {
    margin-left: 0;
}

.navbar__user a {
    margin-right: 1rem;
}

.navbar__user a:first-child {
    margin-right: 0;
    margin-left: 2rem;
}

.navbar__user a:hover {
    color: #bbb;
    transition: 0.2s ease-out;
}

.navbar__user a:nth-last-child(2) {
    padding: 0.5rem 2rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 1.5rem;
}

.navbar__user a:nth-last-child(2):hover {
    color: #fff;
    background-color: transparent;
}

@media screen and (min-width: 1800px) {
    .navbar a {
        font-size: 1.2rem;
    }

    .navbar__links a {
        margin-left: 2rem;
    }

    .navbar__links a:first-child {
        margin-left: 4rem;
    }

    .navbar__user a {
        margin-right: 2rem;
    }

    .navbar__user a:first-child {
        margin-right: 0;
        margin-left: 3rem;
    }

    .navbar__user a:nth-last-child(2) {
        padding: 0.75rem 2.75rem;
    }
}

@media screen and (max-width: 1100px) {
    .navbar__links {
        display: none;
    }

    .navbar > a {
        display: block;
    }
}
