.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
}

/* MAIN CONTAINER */
.main__container {
    height: 90vh;
    border-bottom: 1px solid #eeefffff;
}

.main__container__child {
    /* flex: 0 0 50%; */
    height: 100%;
    width: 50%;
    padding: 1.5em;
}

/* ITEM NUMBER */
.item_number__container {
    justify-content: center;
}

.item_number {
    width: 8em;
    margin-left: 0.5em;
    border: 1px solid #000;
    border-radius: 0.5em;
    justify-content: center;
    text-align: center;
}

.item_number div {
    padding: 0 0.5em;
    width: 25%;
}

.item_number > div:nth-child(2) {
    width: 50%;
}

.item_number > div:first-child,
.item_number > div:last-child {
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
}

.item_number > div:first-child {
    border-left: 1px solid #000;
}

.item_number > div:last-child {
    border-right: 1px solid #000;
}

/* BTNS */
.black_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 0.9em;
    background-color: #000;
    color: #fff;
}

.black_btn:hover {
    background-color: #333;
}

/* INPUT BOX */
.input_box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem;
    outline: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
    width: 100%;
    height: 6%;
}

@media screen and (min-width: 1800px) {
    .main__container {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1100px) {
    .main__container {
        height: auto;
        flex-direction: column;
        justify-content: center;
    }

    .right,
    .left {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 420px) {
    .main__container__child {
        padding: 0.5em;
    }
}
